<div class="container mt-4 mx-auto">
  <div class="row">
    <div class="col-6">
      <h3 style="color: gray" class="m-0">Citas agendadas: 6</h3>
    </div>
    <div class="col-2 d-flex justify-content-end">
      <button mat-mini-fab color="light" class="bg-health-red">
        <mat-icon >add_outline</mat-icon>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-8" style="max-height: 80vh; overflow-y: auto">
      <mat-card class="w-full my-2">
        <mat-card-content>
          <div class="row">
            <div class="col-2 p-0 d-flex mx-auto justify-content-center align-items-center">
              <img src="../../../../../assets/images/health-logo.png" class="img-fluid rounded-circle" style="max-width: 50px; max-height: 50px"
                   alt="">

<!--              <div class="img-rounded bg-health-red">-->
<!--              </div>-->
            </div>
            <div class="col-8 p-0">
              <h3 class="m-0">Robert Triana</h3>
              <h4 class="m-0">Male - 21 years - Cartago Valle</h4>
            </div>
            <div class="col-2 d-flex mx-auto justify-content-center align-items-center">
              <mat-icon>videocam</mat-icon>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="w-full my-2">
        <mat-card-content>
          <div class="row">
            <div class="col-2 p-0 d-flex mx-auto justify-content-center align-items-center">
              <img src="../../../../../assets/images/health-logo.png" class="img-fluid rounded-circle" style="max-width: 50px; max-height: 50px"
                   alt="">

              <!--              <div class="img-rounded bg-health-red">-->
              <!--              </div>-->
            </div>
            <div class="col-8 p-0">
              <h3 class="m-0">Robert Triana</h3>
              <h4 class="m-0">Male - 21 years - Cartago Valle</h4>
            </div>
            <div class="col-2 d-flex mx-auto justify-content-center align-items-center">
              <mat-icon>videocam</mat-icon>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="w-full my-2">
        <mat-card-content>
          <div class="row">
            <div class="col-2 p-0 d-flex mx-auto justify-content-center align-items-center">
              <img src="../../../../../assets/images/health-logo.png" class="img-fluid rounded-circle" style="max-width: 50px; max-height: 50px"
                   alt="">

              <!--              <div class="img-rounded bg-health-red">-->
              <!--              </div>-->
            </div>
            <div class="col-8 p-0">
              <h3 class="m-0">Robert Triana</h3>
              <h4 class="m-0">Male - 21 years - Cartago Valle</h4>
            </div>
            <div class="col-2 d-flex mx-auto justify-content-center align-items-center">
              <mat-icon>videocam</mat-icon>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="w-full my-2">
        <mat-card-content>
          <div class="row">
            <div class="col-2 p-0 d-flex mx-auto justify-content-center align-items-center">
              <img src="../../../../../assets/images/health-logo.png" class="img-fluid rounded-circle" style="max-width: 50px; max-height: 50px"
                   alt="">

              <!--              <div class="img-rounded bg-health-red">-->
              <!--              </div>-->
            </div>
            <div class="col-8 p-0">
              <h3 class="m-0">Robert Triana</h3>
              <h4 class="m-0">Male - 21 years - Cartago Valle</h4>
            </div>
            <div class="col-2 d-flex mx-auto justify-content-center align-items-center">
              <mat-icon>videocam</mat-icon>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="w-full my-2">
        <mat-card-content>
          <div class="row">
            <div class="col-2 p-0 d-flex mx-auto justify-content-center align-items-center">
              <img src="../../../../../assets/images/health-logo.png" class="img-fluid rounded-circle" style="max-width: 50px; max-height: 50px"
                   alt="">

              <!--              <div class="img-rounded bg-health-red">-->
              <!--              </div>-->
            </div>
            <div class="col-8 p-0">
              <h3 class="m-0">Robert Triana</h3>
              <h4 class="m-0">Male - 21 years - Cartago Valle</h4>
            </div>
            <div class="col-2 d-flex mx-auto justify-content-center align-items-center">
              <mat-icon>videocam</mat-icon>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="w-full my-2">
        <mat-card-content>
          <div class="row">
            <div class="col-2 p-0 d-flex mx-auto justify-content-center align-items-center">
              <img src="../../../../../assets/images/health-logo.png" class="img-fluid rounded-circle" style="max-width: 50px; max-height: 50px"
                   alt="">

              <!--              <div class="img-rounded bg-health-red">-->
              <!--              </div>-->
            </div>
            <div class="col-8 p-0">
              <h3 class="m-0">Robert Triana</h3>
              <h4 class="m-0">Male - 21 years - Cartago Valle</h4>
            </div>
            <div class="col-2 d-flex mx-auto justify-content-center align-items-center">
              <mat-icon>videocam</mat-icon>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="w-full my-2">
        <mat-card-content>
          <div class="row">
            <div class="col-2 p-0 d-flex mx-auto justify-content-center align-items-center">
              <img src="../../../../../assets/images/health-logo.png" class="img-fluid rounded-circle" style="max-width: 50px; max-height: 50px"
                   alt="">

              <!--              <div class="img-rounded bg-health-red">-->
              <!--              </div>-->
            </div>
            <div class="col-8 p-0">
              <h3 class="m-0">Robert Triana</h3>
              <h4 class="m-0">Male - 21 years - Cartago Valle</h4>
            </div>
            <div class="col-2 d-flex mx-auto justify-content-center align-items-center">
              <mat-icon>videocam</mat-icon>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="w-full my-2">
        <mat-card-content>
          <div class="row">
            <div class="col-2 p-0 d-flex mx-auto justify-content-center align-items-center">
              <img src="../../../../../assets/images/health-logo.png" class="img-fluid rounded-circle" style="max-width: 50px; max-height: 50px"
                   alt="">

              <!--              <div class="img-rounded bg-health-red">-->
              <!--              </div>-->
            </div>
            <div class="col-8 p-0">
              <h3 class="m-0">Robert Triana</h3>
              <h4 class="m-0">Male - 21 years - Cartago Valle</h4>
            </div>
            <div class="col-2 d-flex mx-auto justify-content-center align-items-center">
              <mat-icon>videocam</mat-icon>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="w-full my-2">
        <mat-card-content>
          <div class="row">
            <div class="col-2 p-0 d-flex mx-auto justify-content-center align-items-center">
              <img src="../../../../../assets/images/health-logo.png" class="img-fluid rounded-circle" style="max-width: 50px; max-height: 50px"
                   alt="">

              <!--              <div class="img-rounded bg-health-red">-->
              <!--              </div>-->
            </div>
            <div class="col-8 p-0">
              <h3 class="m-0">Robert Triana</h3>
              <h4 class="m-0">Male - 21 years - Cartago Valle</h4>
            </div>
            <div class="col-2 d-flex mx-auto justify-content-center align-items-center">
              <mat-icon>videocam</mat-icon>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="w-full my-2">
        <mat-card-content>
          <div class="row">
            <div class="col-2 p-0 d-flex mx-auto justify-content-center align-items-center">
              <img src="../../../../../assets/images/health-logo.png" class="img-fluid rounded-circle" style="max-width: 50px; max-height: 50px"
                   alt="">

              <!--              <div class="img-rounded bg-health-red">-->
              <!--              </div>-->
            </div>
            <div class="col-8 p-0">
              <h3 class="m-0">Robert Triana</h3>
              <h4 class="m-0">Male - 21 years - Cartago Valle</h4>
            </div>
            <div class="col-2 d-flex mx-auto justify-content-center align-items-center">
              <mat-icon>videocam</mat-icon>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="w-full my-2">
        <mat-card-content>
          <div class="row">
            <div class="col-2 p-0 d-flex mx-auto justify-content-center align-items-center">
              <img src="../../../../../assets/images/health-logo.png" class="img-fluid rounded-circle" style="max-width: 50px; max-height: 50px"
                   alt="">

              <!--              <div class="img-rounded bg-health-red">-->
              <!--              </div>-->
            </div>
            <div class="col-8 p-0">
              <h3 class="m-0">Robert Triana</h3>
              <h4 class="m-0">Male - 21 years - Cartago Valle</h4>
            </div>
            <div class="col-2 d-flex mx-auto justify-content-center align-items-center">
              <mat-icon>videocam</mat-icon>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="w-full my-2">
        <mat-card-content>
          <div class="row">
            <div class="col-2 p-0 d-flex mx-auto justify-content-center align-items-center">
              <img src="../../../../../assets/images/health-logo.png" class="img-fluid rounded-circle" style="max-width: 50px; max-height: 50px"
                   alt="">

              <!--              <div class="img-rounded bg-health-red">-->
              <!--              </div>-->
            </div>
            <div class="col-8 p-0">
              <h3 class="m-0">Robert Triana</h3>
              <h4 class="m-0">Male - 21 years - Cartago Valle</h4>
            </div>
            <div class="col-2 d-flex mx-auto justify-content-center align-items-center">
              <mat-icon>videocam</mat-icon>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

    </div>
    <div class="col-4 d-flex mx-auto justify-content-center align-items-center">
      <div style="color: gray; font-size: 25px"
           class="d-flex mx-auto text-center justify-content-center align-items-center">
        <p> Select a Patient to review their details...</p>
      </div>
    </div>
  </div>
</div>
