<form [formGroup]="formAddPatient" (ngSubmit)="sendFormAddPatient(formAddPatient)">
  <div class="container-fluid">
    <h2 mat-dialog-title>Create Patient</h2>
    <div class="row">
      <div class="col-12 d-flex mx-auto justify-content-center align-items-center">
        <div class="rounded-circle d-flex justify-content-center mx-auto align-items-center bg-health-gray"
             style="width: 60px; height:
        60px;
        border-radius: 50%">
          <mat-icon class="cursor-pointer">add_a_photo</mat-icon>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput type="text" placeholder="Name" formControlName="name">
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput type="text" placeholder="Last name" formControlName="last_name">
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Phone</mat-label>
          <input matInput type="text" placeholder="Phone" formControlName="phone">
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Gender</mat-label>
          <mat-select >
            <mat-option>Female</mat-option>
            <mat-option>Male</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Date Birth</mat-label>
          <input matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

  </div>
  <mat-dialog-actions align="end">
    <button mat-flat-button color="light" class="bg-health-red">
      Send
    </button>
  </mat-dialog-actions>
</form>
