<mat-card>
  <mat-card-header class="text-center d-flex justify-content-center align-items-center mx-auto">
    <mat-card-title>Sign Up</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="formSignUp" (ngSubmit)="sendFormSignUp(formSignUp)">
      <div class="row">
        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <mat-label>Name</mat-label>
            <input autofocus matInput formControlName="name" placeholder="Enter your name" type="text">
            <mat-icon matSuffix>person_outline</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <mat-label>Last name</mat-label>
            <input matInput formControlName="lastName" placeholder="Enter your last Name" type="text">
            <mat-icon matSuffix>person_outline</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <mat-label>Identification</mat-label>
            <input matInput formControlName="dni" placeholder="Enter your identification" type="text">
            <mat-icon matSuffix>person_outline</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <mat-label>Phone</mat-label>
            <input matInput formControlName="phone" placeholder="Enter your phone" type="text">
            <mat-icon matSuffix>phone</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender">
              <mat-option value="Female">Female</mat-option>
              <mat-option value="Male">Male</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Date Birth</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dateBirth">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <mat-label>User</mat-label>
            <input matInput formControlName="username" placeholder="Enter your username" type="text">
            <mat-icon matSuffix>person_outline</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" placeholder="Enter your email" type="email">
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" placeholder="Enter your password" type="password">
            <mat-icon matSuffix>visibility</mat-icon>
          </mat-form-field>
        </div>
      </div>
      <div class="row d-flex mx-auto align-items-center">
        <div class="col-4 d-flex justify-content-end align-items-end">
          <button mat-flat-button class="bg-health-red btn-block" type="submit" [disabled]="!formSignUp.valid">Send
          </button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
