<div class="container-fluid">
  <form [formGroup]="formLogin" (ngSubmit)="sendFormLogin(formLogin)">
    <div class="row">
      <div class="d-none d-sm-block p-0 col-6">
        <div class="min-vh-100 d-flex align-items-center justify-content-center mx-auto">
          <img src="../../../assets/images/health-logo.png" class="img-fluid" alt="Health Logo">
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 bg-health-red">
        <div class="row min-vh-100 d-flex align-items-center justify-content-center mx-auto">
          <div class="col-12">
            <mat-tab-group color="ligth">
              <mat-tab label="Log In">
                <form [formGroup]="formLogin" (ngSubmit)="sendFormLogin(formLogin)">
                  <mat-card>
                    <mat-card-header class="text-center d-flex justify-content-center align-items-center mx-auto">
                      <mat-card-title>Log In</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                      <div class="row">
                        <div class="col-12">
                          <mat-form-field appearance="outline" class="w-100" color="primary">
                            <mat-label>Email</mat-label>
                            <input formControlName="email" matInput placeholder="Enter your email" type="email">
                            <mat-icon matSuffix>email</mat-icon>
                          </mat-form-field>
                        </div>
                        <div class="col-12">
                          <mat-form-field appearance="outline" class="w-100" color="primary">
                            <mat-label>Password</mat-label>
                            <input formControlName="password" matInput placeholder="Enter your password"
                                   type="password">
                            <mat-icon matSuffix>visibility</mat-icon>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row d-flex mx-auto align-items-center">
                        <div class="col-4 d-flex justify-content-end align-items-end">
                          <button mat-flat-button class="bg-health-red btn-block" type="submit"
                                  [disabled]="!formLogin.valid">Send
                          </button>
                        </div>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </form>
              </mat-tab>
              <mat-tab label="Sign Up">
                <health-sign-up></health-sign-up>
              </mat-tab>
            </mat-tab-group>

          </div>
        </div>
      </div>
    </div>
  </form>
</div>
