<section class="example-section">
  <span class="example-list-section">
    <mat-checkbox class="example-margin"
                  [checked]="allComplete"
                  [indeterminate]="someComplete()"
                  (change)="setAll($event.checked)">
      {{week.name}}
    </mat-checkbox>
  </span>
  <span class="example-list-section">
    <ul>
      <li *ngFor="let day of week.days">
        <mat-checkbox [(ngModel)]="day.completed"
                      [color]="day.color"
                      (ngModelChange)="updateAllComplete()">
          {{day.name}}
        </mat-checkbox>
      </li>
    </ul>
  </span>
</section>
